<html>  
    <head>
        <title><%= typeof title !== 'undefined' ? title : 'Default Title' %></title>
    </head>
    <body>
        <h1>Welcome to My EJS page <%= typeof title !== 'undefined' ? title : 'Default Title' %></h1>
    </body>
</html>